<% if user_signed_in? %>
  <div id="step_#{i}_change_status" class="step_change_status">

    <% 
      step = stepstone.step_of(current_user) 
      step ||= Step.new(user:current_user, stepstone:stepstone)
    %>

    <% Step.statuses.each do |status| %>


      <%= form_for step do |f| %>
        <%= f.hidden_field(:user_id) %>
        <%= f.hidden_field(:stepstone_id) %>
        <%= f.hidden_field(:aasm_state, value: status) %>
        <%= f.submit status, disabled: status.to_s == step.aasm_state,
                             value: status.to_s.humanize %>
      <% end %>

    <% end %>

  </div>

<% end %>