
<h1><%= @adventure %></h1>

<%= @adventure.description %>

<p>This Adventure consists of <%= @stepstones.count %> steps:</p>

<% if user_signed_in? and not current_user.adventures.include?(@adventure) %>
  <%= button_to("start", start_adventure_path(@adventure)) %>
<% end %>

<ol>
  <% @stepstones.each do |stepstone| %>
    <li>
      <%= render 'change_status', stepstone: stepstone %>
            <%= stepstone.description %>

    </li>
  <% end %>
</ol>



<h2>Status</h2>

<table border="1">
  <tr>
    <td style="width: 15%;"></td>
    <% @statuses.each do |status| %>
      <th style="width: 15%;"><%= status.status %></th>
    <% end %>
  </tr>
  <% @stepstones.each_with_index do |stepstone, i| %>
    <tr>
      <td><%= i+1 %>)</td>
      <% @statuses.each do |status| %>
        <td style="width: 15%;"><%= stepstone.steps.where(:status => status).join(', ') %></td>
      <% end %>      
    </tr>
  <% end %>
</table>
