
<h1><%= @adventure %></h1>

<%= @adventure.description %>


<p>This Adventure consists of <%= @stepstones.count %> steps:</p>


<ol>
<% @stepstones.each do |stepstone| %>
  <li>
    <%= stepstone.description %>
    <% if current_user == @adventure.user  %>
    <%= link_to 'Edit', edit_adventure_stepstone_path(stepstone.adventure, stepstone) %>
    | <%= link_to 'Destroy', adventure_stepstone_path(@adventure, stepstone), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </li>
<% end %>
</ol>


<% if current_user == @adventure.user %>
  <%= link_to 'New Stepstone', new_adventure_stepstone_path(@adventure) %> 
<% end %>
