<%- model_class = Stepstone -%>
<div class="page-header">
  <h1><small>Stepstones in</small> <%= @adventure.title %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @stepstones.each do |stepstone| %>
      <tr>
        <td><%= link_to stepstone.title, adventure_stepstone_path(stepstone.adventure, stepstone) %></td>
        <td><%= stepstone.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="user-admin user-owner <%= user_class( @adventure.user ) %>">

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_adventure_stepstone_path(@adventure),
            :class => 'btn btn-primary' %>

</span>
