<h1><%= @adventure %></h1>

<% if current_user == @adventure.owner %>
<%= link_to "edit", edit_adventure_path(@adventure) %>
<% end %>

<%= @adventure.description %>

<p>This Adventure consists of <%= @stepstones.length %> steps:</p>

<% if user_signed_in? and not @working %>
  <%= button_to("start", start_adventure_path(@adventure)) %>
<% end %>

<% @stepstones.each_with_index do |stepstone, i| %>
  <h2><%= i + 1 %>. Step    <%= render 'change_status', stepstone: stepstone %></h2>
  <div class="step_description">
    <%= stepstone.description %>
  </div>

  <% stepstone.steps.group_by(&:status).each do |status, steps| %>
    <h3>Status <%= status %></h3>
    <%= steps.join(", ") %>
  <% end %>
<% end %>



