<%- model_class = Stepstone -%>
<%- @json_backend = "owner/#{@stepstone.adventure.user.id}" -%>

<div class="page-header">
  <h1><small><%= @stepstone.adventure.title %></small></h1>
  <h1><%= @stepstone.title %></h1>
</div>

<%= @stepstone.description %>

<% content_for :sidebar do %>
  <span class="user-admin user-owner <%= user_class( @adventure.user ) %>">

    <%= link_to t('.back', :default => "back to the adventure"),
      adventure_path(@adventure), :class => 'btn'  %>
    <%= link_to t('.edit', :default => "edit this step"),
                edit_adventure_stepstone_path(@adventure,@stepstone), :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => "delete this stepstone"),
                adventure_stepstone_path(@adventure, @stepstone),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>

  </span>
<% end %>
