<%- model_class = Stepstone -%>

<div class="page-header">
  <h1><small><%= @stepstone.adventure.title %></small></h1>
  <h1><%= @stepstone.title %></h1>
</div>

<div class="hero-unit">
  <%= raw @stepstone.description %>
</div>

<% if @current_step and @current_step.user_action? %>
  Mein Status: <%= @current_step.state %>

  <% @current_step.state_events.each do |transition| %>
    <%= link_to transition, transition_path( @adventure, @stepstone, transition), :method => 'post', :class => 'btn btn-danger' %>
  <% end %>
<% elsif @current_step %>
  Mein Status: <%= @current_step.state %>
<% elsif current_user %>
  <%= link_to "Join!", join_stepstone_path( @adventure, @stepstone ), :method => 'post', :class => 'btn btn-danger' %>
<% end %>

<div id="board_holder">
  <%= render "board" %>
</div>

<% content_for :script do %>
  var faye = new Faye.Client('<%= faye_uri %>');

  faye.subscribe("<%= request.fullpath %>", function (data) {
    $('#board_holder').html(data.board);
  });
<% end %>
<% content_for :sidebar do %>
  <%= link_to t('.back', :default => "back to the adventure"), adventure_path(@adventure), :class => 'btn'  %>

  <% if current_user and @adventure.belongs_to? current_user %>
    <h5>Admin</h5>
    <%= link_to t('.edit', :default => "edit this step"),
      edit_adventure_stepstone_path(@adventure,@stepstone), :class => 'btn btn-primary' %>
    <%= link_to t('.destroy', :default => "delete this stepstone"),
      adventure_stepstone_path(@adventure, @stepstone),
      :method => 'delete',
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>
  <% end %>
<% end %>
