<div class="page-header">
  <h1><%=t '.title', :default => "Stepstones" %></h1>
</div>

<p>Currently there are <%= @no_users %> users on their way in <%= @current_adventures.length %> adventures:</p>

<p>Join them now, go on an adventure:</p>

<% @current_adventures.each do |adv| %>
  <p>
  <% if current_user %>
    <%= button_to "Join", join_adventure_path(adv), :class => "btn btn-small btn-primary" %>
  <% end %>
  <%= link_to adv.title, adv %></p>
<% end %>

<p>You can set up an adventure in a few simple steps.</p>
<p>Set up an adventure today!</p>
