<h1>Stepstones</h1>


<p>
<% if user_signed_in? %>
  <%= link_to 'New Adventure', new_adventure_path %>
<% end %>

<% @adventures.each do |adventure| %>

  <h2><%=  link_to adventure.title, adventure_stepstones_path(adventure)  %></h2>
  <%= adventure.description %>


  <% if current_user == adventure.owner %>
    <%= link_to 'Edit', edit_adventure_path(adventure) %>
    <%= link_to 'Destroy', adventure, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<% end %>
