<%- model_class = Adventure -%>
<%- @json_backend = "owner/#{@adventure.user.id}" -%>
<div class="page-header">
  <h1><%= @adventure.title %> <small> by <%= @adventure.user.nickname %></small></h1>
</div>

<div class="hero-unit">
  <%= raw @adventure.description %>
</div>

<div id="board_holder">
  <%= render "board" %>
</div>

<% content_for :script do %>


$(document).ready(function(){
  switch_channel( "<%= request.fullpath %>" );

  $('#move_stepstones_button').click(function(event){
    console.log("showing handles to move stuff");
    $('#sortable_stepstones .handle').show();
    event.preventDefault();
  });
  $('#sortable_stepstones').sortable({
    axis: 'y',
    cursor: 'move',
    update: function(){
      $.post( 
        '<%= reorder_stepstones_adventure_path(@adventure)-%>', 
        $(this).sortable('serialize')
      );
      $('#sortable_stepstones .handle').hide();
    }
  });
});
<% end %>

<% if @adventure.user == current_user %>
  <%= link_to t('.new', :default => "Add a new Stepstone" ),
    new_adventure_stepstone_path(@adventure),
    :class => 'btn btn-primary' %>
    <%= link_to "Move Stepstones", "#", :class => 'btn js-only', :id => "move_stepstones_button" %>
<% end %> 

  <% content_for :sidebar do %>
    <% if current_user %>
      <%= link_to "Join", join_adventure_path(@adventure), :class => "btn  btn-primary", :method => 'post' %>
    <% end %>
    <% if @adventure.user == current_user %>

      <h5>Admin</h5>
      <%= link_to t('.edit', :default => t("helpers.links.edit") + " " + model_class), 
        edit_adventure_path(@adventure), 
        :class => 'btn btn-primary' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy") + " " + model_class),
          adventure_path(@adventure),
          :method => 'delete',
          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
          :class => 'btn btn-danger' %>
        </span>
      <% end %>
    <% end %>
