<h1 data-adventure="<%= @adventure.id %>">
  <span class="number"><%= @adventure.prefix  %></span>
  <%= @adventure %>
</h1>

<% if current_user == @adventure.owner %>
  <p><%= link_to "edit", edit_adventure_path(@adventure) %></p>
<% end %>

<div class="adventure_description">
<%= md @adventure.description %>
</div>

<p>This Adventure consists of <%= @stepstones.length %> steps.</p>  

<p id="status">
  <% if not user_signed_in? %>
    Log in to start this adventure!
  <% elsif @my_statuses.empty? %>
    You have not started working on this adventure.
  <% else # already working on this %>
    You are <%= @describe_status %>.
  <% end %>
</p>

<% @stepstones.each_with_index do |stepstone, i| %>
  <div id="step_<%= i %>">
    <h2>
      <span class="number"><%= (i + 1).ordinalize %>.</span> Step   
    </h2>
    <article>
      <div id="step_<%= i %>_description" class="step_description">
        <%= md stepstone.description %>
        <%= render 'stepstones/change_status', stepstone: stepstone, i: i %>

      </div>

      <div id="step_<%= i %>_show_status" class="step_show_status">
        <%= render 'stepstones/show_status', stepstone: stepstone, i: i %>


      </div>
    </article>
  </div>

<% end %>

<script>
display_status(<%= raw @classes_for_statuses.to_json %>);
</script>

