<%- model_class = Adventure -%>
<%- @json_backend = "owner/#{@adventure.user.id}" -%>
<div class="page-header">
  <h1><%= @adventure.title %></h1>
</div>

<div class="hero-unit">
  <h2><small>by</small>&nbsp;<%= @adventure.user.nickname %></h2>
  <%= @adventure.description %>
</div>


<ul id="sortable_stepstones">
  <% @adventure.stepstones.each do |s| %>
    <%= content_tag_for :li, s do %>
      <span class="handle">[drag]</span>
      <b><%= s.title %> <%= link_to "mehr", adventure_stepstone_path(@adventure,s) %></b>
      <span class="description"><%= s.description %></span>
    <% end %>
  <% end %>
</ul>

<% content_for :script do %>
  $(document).ready(function(){
    $('#move_stepstones_button').click(function(event){
      console.log("showing handles to move stuff");
      $('#sortable_stepstones .handle').show();
      event.preventDefault();
    });
    $('#sortable_stepstones').sortable({
      axis: 'y',
      cursor: 'move',
      update: function(){
        $.post(
          '<%= reorder_stepstones_adventure_path(@adventure)-%>',
          $(this).sortable('serialize') 
        );
        $('#sortable_stepstones .handle').hide();
      }
    });
  });
<% end %>

<span class="user-admin user-owner <%= user_class( @adventure.user ) %>">
<%= link_to t('.new', :default => "Add a new Stepstone" ),
            new_adventure_stepstone_path(@adventure),
                        :class => 'btn btn-primary' %>
<%= link_to "Move Stepstones", "#", :class => 'btn js-only', :id => "move_stepstones_button" %>
</span>

<% content_for :sidebar do %>
  <span class="user-admin user-owner <%= user_class( @adventure.user ) %>">
  <%= link_to t('.edit', :default => t("helpers.links.edit") + " " + model_class), 
              edit_adventure_path(@adventure), 
              :class => 'btn btn-primary' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy") + " " + model_class),
              adventure_path(@adventure),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  </span>
<% end %>
