<%
  current_step = current_step(@my_statuses)
%>

<h1>
  <span class="number"><%= @adventure.prefix  %></span>
  <%= @adventure %>
</h1>

<% if current_user == @adventure.owner %>
  <p><%= link_to "edit", edit_adventure_path(@adventure) %></p>
<% end %>

<div class="adventure_description">
<%= md @adventure.description %>
</div>

<p>This Adventure consists of <%= @stepstones.length %> steps.</p>  

<p>
  <% if not user_signed_in? %>
    Log in to start this adventure!
  <% elsif @my_statuses.empty? %>
    You have not started working on this adventure.
  <% elsif current_step == @my_statuses.length %>
    Congratulations, you are <%= describe_status( @my_statuses ) %>
  <% else # already working on this %>
    You are working on this adventure, <%= describe_status( @my_statuses ) %>.
  <% end %>
</p>

<% @stepstones.each_with_index do |stepstone, i| %>
  <div  class="<%= class_for_step(i,current_step, @my_statuses) %>">
    <h2>
      <span class="number"><%= (i + 1).ordinalize %>.</span> Step   
    </h2>
    <article>
      <div id="step_<%= i %>_description" class="step_description">
        <%= md stepstone.description %>
        <%= render 'stepstones/change_status', stepstone: stepstone, i: i %>

      </div>

      <div id="step_<%= i %>_show_status" class="step_show_status">
        <% stepstone.steps.group_by(&:status).each do |status, steps| %>
          <% steps.each do |st| %>
            <% if not st.not_started?  %> 
              <div class="user <%= status %>">
                <%= user_at_step( st ) %> 
                <%= st.user.full_name %>
                (<%= status %>)
              </div>
            <% end %>  
          <% end %>  
        <% end %>

      </div>
    </article>
  </div>

<% end %>

