<h1><%= @adventure %></h1>

<% if current_user == @adventure.owner %>
  <p><%= link_to "edit", edit_adventure_path(@adventure) %></p>
<% end %>

<%= @adventure.description %>

<p>This Adventure consists of <%= @stepstones.length %> steps.</p>  

<p>
  <% if not user_signed_in? %>
    Log in to start this adventure!
  <% elsif @my_statuses.empty? %>
    You have not started working on this adventure.
  <% else # already working on this %>
    You are working on this adventure, <%= describe_status( @my_statuses ) %>.
  <% end %>
</p>

<% @stepstones.each_with_index do |stepstone, i| %>
  <h2 class="<%= if @my_statuses.nil? then 'not_started' else @my_statuses[i] end %>">
    <%= i + 1 %>. Step   
  </h2>
  <article>
    <div class="step_description">
      <%= stepstone.description %>
    </div>

    <div class="step_status">
      <% stepstone.steps.group_by(&:status).each do |status, steps| %>
        <% steps.each do |st| %>
          <% if not st.not_started?  %> 
            <div class="user <%= status %>">
              <%= user_at_step( st ) %> 
              <%= st.user.full_name %>
              (<%= status %>)
            </div>
          <% end %>  
        <% end %>  
      <% end %>
      <p><%= render 'stepstones/change_status', stepstone: stepstone, no: i+1 %></p>

    </div>
  </article>


<% end %>

