<%= form_for [@adventure, @step], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <label class="control-label">Adventure</label>
    <div class="controls">
      <%= link_to @adventure.title, @adventure %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field  input-xxlarge' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area  input-xxlarge' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      adventure_steps_path(@adventure), :class => 'btn' %>
    </div>
  <% end %>
