<%- model_class = Step -%>
<div class="page-header">
  <h1><small>Steps in</small> <%= @adventure.title %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= link_to step.title, adventure_step_path(step.adventure, step) %></td>
        <td><%= step.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_adventure_step_path(@adventure),
            :class => 'btn btn-primary' %>
