<!DOCTYPE html>
<html>
  <head>
    <title>Stepstones</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin" rel="stylesheet"> 
  </head>

  <%= tag("body", {class:[      
      "#{controller.controller_name}_controller", 
      "#{controller.action_name}_action", 
      "signed_in_#{user_signed_in?}"   
      ]}, true) %>

    <header>
      <div class="holder">
        <nav>
          <%= link_to root_path, class: 'nodecoration' do %>
            <%= inline_svg 'stepstones.svg', class: 'logo' %>
          <% end %>
          <%= link_to "Stepstones", root_path %>
        </nav>
        <nav>
          <% if user_signed_in? %> 
            <%= link_to "log out", logout_path %>          
            <div class="user"><%= user_avatar current_user %><%= current_user %></div>
          <% else %>
            log in with
            <%= link_to "github", "/auth/github/" %> |
            <%= link_to "fhs", "/auth/fhs_full/" %> 
            <% if ENV['RAILS_ENV'] == 'development' %>
              |
              log in without password: 
              <%= link_to "User 1", "/auth/testing?id=1" %> |
              <%= link_to "User 2", "/auth/testing?id=2" %> |
              <%= link_to "User 3", "/auth/testing?id=3" %> 
            <% end %>
          <% end %>
        </nav>
      </div>
    </header>
    <section id="main" class="holder">
      <div>
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <%= yield %>
      </div>
    </section>
    <section id="chat" class="holder" style="display:none;">
      <div id="output">
        <p>Chat...</p>

      </div>
      <div id="input">
        <span><%= current_user %>: </span>
        <input name="chat" type="text">
        <input type="button" value="send">
      </div>
    </section>
    <footer>
      <div class="holder">
        <p>
          This is an example app for learning about Websockets. See
          <%= link_to 'the explanation', 'http://backend-development.github.io/rails_websockets.html' %>,
          <%= link_to 'the demo app', 'https://stepstones.herokuapp.com/' %>
          and 
          <%= link_to 'the repository', 'https://github.com/backend-development/rails_websockets' %>
        </p>
      </div>
    </footer>
    <svg height="0">
      <clipPath id="circlemask" >
        <circle cx="30" cy="30" r="30" id="circle"/>
      </clipPath>
    </svg>
  </body>
</html>
